extends ../layout


block content
  .container
      .row
          .col-md-4
          .col-md-4
              .card(style="text-align: center")
                img.className#IdName(src="/static/avatar.gif" alt="Avatar" title="Avatar")
                br

                .form-group
                a.btn.btn-block.btn-social.btn-primary(href="/auth/login")
                  span.fa.fa-sign-in
                  | Connexion
                .form-group
                a.btn.btn-block.btn-social.btn-secondary(href="/auth/signup")
                  span.fa.fa-plus-square-o
                  | Créer un compte
                br
                p
                  | © 2017 Diego Grumeau


