extends ../layout

block content

    .container
                table
                  tr
                    td.titre='Liste des channels'
                  each channel in channels
                    tr
                      td
                        a(href='/channel/' + channel.slug)= channel.name + " "
                        if channel.creator.username == user.username || ['admin', 'super-admin'].includes(user.role) 
                          a(href= '/channel/' + channel._id + '/supprimer')
                            i(class="fa fa-trash-o")
                        br
                  tr
                    td
                      .panel.panel-default
                              .panel-heading
                                  form.form-horizontal(action="/channel/create", method="POST")
                                      .form-group
                                          .label.col-md-2(for="channel")
                                          .input-group
                                              input#channel(name="name", type="text", placeholder="Saisir nom")
                                              input.btn.btn-default(type="submit", value="Créer")                                                  
                        
